import { Component } from 'react';

export interface {{pascalCase name}}Props {}

export default class {{pascalCase name}} extends Component<{{pascalCase name}}Props> {
  render() {
    return (
      <div>
        <p>it works.</p>
      </div>
    );
  }
}
