import {LitElement, html, css} from 'lit';
import {customElement} from 'lit/decorators.js';

@customElement('{{dashCase name}}')
class {{pascalCase name}} extends LitElement {
  static styles = css`
      p {
        color: green;
      }
    `;
  render(){
    return html`<p>it works.</p>`;
  }
}
