import {createSignal, onCleanup} from "solid-js";

const App = () => {
    const [count, setCount] = createSignal(0);
    const timer = setInterval(() => setCount(count() + 1), 1000);
    onCleanup(() => clearInterval(timer));

    return <div>count: {count}</div>;
};

export default App;
