import {Component, h} from 'preact';

interface Props {
  name: string
}

class App extends Component<Props> {
  render() {
    const { name } = this.props;
    return (
      <div>
        Hello {name}
      </div>
    );
  }
}

export default App;
